<div class="navbar-inner">
	<div class="left">
		{{yield "left"}}
	</div>
	<div class="center">
		{{yield "center"}}
	</div>
	<div class="right">
		{{yield "right"}}
	</div>
	{{yield "default"}}
</div>
